@model IEnumerable<WebApplication9.Models.Bid>

@{
    ViewBag.Title = "title";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Цены</title>
</head>
<body>
    <h3>Цены</h3>
    <table>
        <tr>
            <td>Стоимость</td>
            <td>Дата</td>

            <td></td>
        </tr>
        @foreach (var bid in Model)
        {
    <tr>
        <td>@bid.Price</td>
        <td>@bid.Dt</td>
    </tr>
        }
    </table>
</body>

